@mixin letraMarca{
    font-family: "Henny Penny", serif;
    font-weight: 400;
    font-size:45px ;    
}

@mixin letraTextos {
    font-family: "new-spirit,serif";
    
}
body{
    filter: sepia(100px);
    background-color: darkslategrey;
}
header{
    background-image: url("/img/manipulation-4412444_1280.jpg");
    background-color: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   
    nav{
        background-color: transparent;

       .navbar-toggler{
        color:blanchedalmond;
        background-color: blanchedalmond;
       }

       
    }
    button{
        color:  blanchedalmond;
    }


    h3{
        position: relative;
        top: 230px;
        font-size:50px;
        @include letraMarca();
        color: #667f61;
        animation: animacionH3 5s ease;
        font-style: normal;
        font-weight: 900;
    }
    @keyframes animacion{
        0%{
            transform: translateY(-100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes animacionH3{
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(50px);
            opacity: 1;
        }
    }

    h1{
        animation:  animacion 5s;
        position: relative;
        top: 30%;
        color: #667f61; 
        font-family: "new-spirit",serif;
        text-shadow: 1px 2px #603008;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        
      }
      .nav-link{
        color:  blanchedalmond !important;
       }
       .offcanvas{
        margin-left: 20px;
       }

      .offcanvas-body{
        background-color:darkslategrey;
        padding-left: 100px;
    
      }
      .offcanvas-header{
        margin-left: 50px;
        height: 20%;
       @include letraTextos();
       font-size: 20px;
      }
    }
    

section{
    width: 100vw;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}

.card{
   border-radius: 20px;
   background-color:  darkslategrey;
   box-shadow: 2px 5px blanchedalmond;
   margin-top: 30px;
   margin-left: 8px;
   
   .card-body{
    text-align: center;
    color:  blanchedalmond;
   
    
    

   }
   .card-title{
    @include letraMarca();
    text-shadow: 2px 2px gray;
    font-weight: bold;
    font-size: 25px;

   }
   .card-text{
    @include letraTextos();
    height: 0px;
    visibility: hidden;
    
   }
   &:hover .card-text{
    height: 70%;
    visibility: visible;
    transition: 0.2s;
}

   .btn{
    background-color: rgb(14, 29, 29); 
    color:  blanchedalmond;

   }
}
footer{
    position: sticky;/*para que se quede fijo en la pantalla al hacer scroll*/
    bottom: 0px;
    justify-content: space-around;
    margin-top: 50px;
    background-color: rgb(20, 37, 37);

    .foo_text{
        color:  blanchedalmond;
        display: flex;
        justify-content: space-around;
        
        p{
            margin: 10px;
            font-size: 20px;
        }

    }
    
    .foo_icons i{
            color: bisque;
            margin: 10px;
            font-size: 25px;
    
    }
}